<ion-content>
  <div id="container">
    <ion-img class="logo" src="assets/images/logo.png" alt="Bridge"></ion-img>
    <strong>Patient Updates</strong>
    <ion-accordion-group>
      <ion-accordion value="most-recent">
        <ion-item slot="header" color="light">
          <ion-label>First Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">First Content</div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Second Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Second Content</div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header" color="light">
          <ion-label>Third Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Third Content</div>
      </ion-accordion>
    </ion-accordion-group>
    
    <ion-list [inset]="true">
      <ion-item *ngFor="let update of patientUpdates">
        <ion-label>
          <h3>Mood: {{update?.mood}}</h3>
          <p>Eating: {{update?.eating}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
