<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Patient Updates</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-img class="logo" src="https://i.imgur.com/gHoooAv.png" alt="Bridge"></ion-img>
    <strong>Patient Updates</strong>
    <ion-accordion-group>
      <ion-accordion *ngFor="let dateEntry of accordianData; let d = index" [value]="d">
        <ion-item slot="header" color="light">
          <ion-label>{{formatDateAsString(dateEntry.date, 'PPPP')}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card *ngFor="let update of dateEntry.updates">
            <ion-card-header>
              <ion-card-title>Mood:{{update.mood}}</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col>Eating</ion-col>
                  <ion-col>{{update.eating}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>Drinking</ion-col>
                  <ion-col>{{update.drinking}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>Toilet</ion-col>
                  <ion-col>{{update.toilet}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>Mobility</ion-col>
                  <ion-col>{{update.mobility}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>Sleep</ion-col>
                  <ion-col>{{update.sleep}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>MessageToFamily</ion-col>
                  <ion-col>{{update.messageToFamily}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>Timestamp</ion-col>
                  <ion-col>{{update.timestamp}}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>
