<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-img
      class="logo"
      src="https://i.imgur.com/gHoooAv.png"
      alt="Bridge"
    ></ion-img>
    <ion-icon
      class="icon-indicator"
      color="success"
      name="shield-checkmark"
    ></ion-icon>
    <strong>Please provide your details as NOK</strong>
    <form [formGroup]="loginForm">
      <ion-list>
        <ion-item>
          <ion-label position="stacked"
            >First Name<span class="asterisk">&#42;</span></ion-label
          >
          <ion-input
            formControlName="firstName"
            type="text"
            autocapitalize="word"
            placeholder="e.g. John"
            aria-label="firstName"
            ngDefaultControl
          >
          </ion-input>
          <ion-icon
            *ngIf="loginForm.get('firstName').errors && (loginForm.get('firstName').touched || loginForm.get('firstName').dirty)"
            color="danger"
            name="information-circle"
            slot="end"
          ></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"
            >Last Name<span class="asterisk">&#42;</span></ion-label
          >
          <ion-input
            formControlName="lastName"
            type="text"
            autocapitalize="word"
            placeholder="e.g. Smith"
            aria-label="lastName"
            ngDefaultControl
          >
          </ion-input>
          <ion-icon
            *ngIf="loginForm.get('lastName').errors && (loginForm.get('lastName').touched || loginForm.get('lastName').dirty)"
            color="danger"
            name="information-circle"
            slot="end"
          ></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"
            >Post Code<span class="asterisk">&#42;</span></ion-label
          >
          <ion-input
            formControlName="postcode"
            type="text"
            autocapitalize="word"
            aria-label="postcode"
            placeholder="e.g. CF632NZ"
            ngDefaultControl
          >
          </ion-input>
          <ion-icon
            *ngIf="loginForm.get('postcode').errors && (loginForm.get('postcode').touched || loginForm.get('postcode').dirty)"
            color="danger"
            name="information-circle"
            slot="end"
          ></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"
            >Telephone<span class="asterisk">&#42;</span></ion-label
          >
          <ion-input
            formControlName="telephone"
            type="text"
            autocapitalize="word"
            aria-label="telephone"
            placeholder="e.g. 01234567891"
            ngDefaultControl
          >
          </ion-input>
          <ion-icon
            *ngIf="loginForm.get('telephone').errors && (loginForm.get('telephone').touched || loginForm.get('telephone').dirty)"
            color="danger"
            name="information-circle"
            slot="end"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </form>

    <ion-button [disabled]="!loginForm.valid" (click)="moveToPatientUpdates()">
      <ion-icon slot="start" name="analytics-sharp"></ion-icon>
      View Patient Updates
    </ion-button>
  </div>
</ion-content>
