<ion-content>
  <div id="container">
    <ion-img class="logo" src="assets/images/logo.png" alt="Bridge"></ion-img>
    <strong>Successfully logged in</strong>
    <ion-icon
      class="icon-indicator"
      color="success"
      name="shield-checkmark"
    ></ion-icon>
    <ion-button
      color="primary"
      routerLink="/patient-status"
      routerDirection="root"
    >
      <ion-icon slot="start" name="analytics-sharp"></ion-icon>
      Patient Status
    </ion-button>
  </div>
</ion-content>

<version-footer></version-footer>
