<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Bridge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-img class="logo" src="assets/images/logo.png" alt="Bridge"></ion-img>
    <ion-icon
      class="icon-indicator"
      color="success"
      name="shield-checkmark"
    ></ion-icon>
    <form [formGroup]="loginForm">
      <ion-list>
        <ion-item>
          <ion-label position="stacked"
            >First Name<span class="asterisk">&#42;</span></ion-label>
          <ion-input
            formControlName="firstName"
            type="text"
            autocapitalize="word"
            placeholder="e.g. John"
            ngDefaultControl
          >
          </ion-input>
          <ion-icon
            *ngIf="loginForm.get('firstName').errors && (loginForm.get('firstName').touched || loginForm.get('firstName').dirty)"
            color="danger"
            name="information-circle"
            slot="end"
          ></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"
            >Post Code<span class="asterisk">&#42;</span></ion-label>
          <ion-input
            formControlName="postcode"
            type="text"
            autocapitalize="word"
            placeholder="e.g. CF63 2NZ"
            ngDefaultControl
          >
          </ion-input>
          <ion-icon
            *ngIf="loginForm.get('postcode').errors && (loginForm.get('postcode').touched || loginForm.get('postcode').dirty)"
            color="danger"
            name="information-circle"
            slot="end"
          ></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"
            >Telephone<span class="asterisk">&#42;</span></ion-label>
          <ion-input
            formControlName="telephone"
            type="text"
            autocapitalize="word"
            placeholder="e.g. 07748981774"
            ngDefaultControl
          >
          </ion-input>
          <ion-icon
            *ngIf="loginForm.get('telephone').errors && (loginForm.get('telephone').touched || loginForm.get('telephone').dirty)"
            color="danger"
            name="information-circle"
            slot="end"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </form>

    <ion-button
      [disabled]="!loginForm.valid">
      <ion-icon slot="start" name="analytics-sharp" (click)="moveToPatientUpdates()"></ion-icon>
      View Patient Updates
    </ion-button>
  </div>
</ion-content>
