<ion-content>
  <div id="container">
    <!-- <ion-img class="logo" src="assets/images/logo.png" alt="Bridge"></ion-img> -->
    <ion-grid>
      <ion-col>Hello</ion-col>
      <ion-col>Hello1</ion-col>
      <ion-col>Hello2</ion-col>
      <ion-col>Hello 4</ion-col>
    </ion-grid>
    <ion-grid>
      <ion-col>Search</ion-col>
      <ion-col>Menu</ion-col>
    </ion-grid>

    <ion-grid>
      <ion-col class="patient-update">
        <form action="">
          <span>Date</span>
          <span>Today's mood:</span>
          <span>Update to family</span>
        </form>
      </ion-col>
      <ion-col class="patient-previous">
        <span>Previous updates</span>
        
      </ion-col>
    </ion-grid>
  </div>
</ion-content>
